<h1>Projects</h1>

<form method="GET" action="/projects">
  <input
    type="text"
    name="search"
    placeholder="Search project..."
    value="{{search}}"
  />
  <button type="submit">Search</button>
</form>

<a href="/projects/create">Create New</a>

<ul>
  {{#each projects}}
    <li>
      {{this.name}}
      <a href="/projects/{{this.id}}/edit">Edit</a>
      <a href="/projects/{{this.id}}/delete">Delete</a>
    </li>
  {{else}}
    <li>No projects found</li>
  {{/each}}
</ul>
